/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:black;
    color:white;
}

header {
    padding: 20px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-height: 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e50914;
}


.search input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 200px;
}

.content {
    padding: 20px;
    background-color: black;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.rating {
    margin-bottom: 10px;
}

.rating i {
    color: #ffc107;
    font-size: 24px;
    margin-right: 5px;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 18px;
}

.btns {
    margin-bottom: 20px;
}

.btns button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
}

.cards {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    flex-wrap: nowrap; /* Prevent wrapping of cards */
    justify-content: flex-start; /* Start from left */
    gap: 20px;
    padding: 20px;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .content {
    padding: 10px;
}

.card .content h4 {
    margin-bottom: 5px;
    font-size: 16px;
}

.card .content p {
    font-size: 14px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer #subscription {
    margin-bottom: 20px;
}

footer #subscription h2 {
    margin-bottom: 10px;
}

footer #subscription form input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: black;
}

footer #subscription form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
}

footer .social-media a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}
